@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import "tailwindcss" source(none);

@source "./";

/* @layer base {
  body {
    font-family: 'Quicksand', sans-serif;
  }
} */

@theme {
  --font-quicksand: "Quicksand", sans-serif;
}

@layer base {
  body {
    font-family: var(--font-quicksand);
  }
}

@layer components {
  .menu-items {
    @apply relative flex h-full items-center p-4 cursor-pointer font-bold text-pink-200 hover:text-zinc-200 hover:bg-white/10 transition-colors ease-in-out;
  }
}

@custom-variant group-open {
  &:is(:where(.group):is(.open, [open], :popover-open, :open) *) {
    /* slot makes so that we can apply any tailwind css class when the parent has the class group and is in open state */
    @slot;
  }
}

@custom-variant peer-open {
  &:is(:where(.peer):is(.open, [open], :popover-open, :open) ~ *) {
    /* ~ helps to select the sibling element in peer class  */
    /* slot makes so that we can apply any tailwind css class when the parent has the class group and is in open state */
    @slot;
  }
}
